/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import './button.css';

:root {
  --Primary: #43DDE6;
  --White: #ffffff;
  --widthBar: 0%;
}


/* integrar compatibilidad con otros navegadores */


input[type=range] {
  display: block;
  -webkit-appearance: none;
  border-radius: 4px;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  height: 4px;
  width: 4px;
  outline: none;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid grey;
}

input[type=range]::-moz-range-thumb {
  background-color: transparent;
  display: none !important;
  height: 4px;
  width: 4px;
  outline: none;
  border: none;
}

input[type=range]::-moz-range-progress {
  background-color: #237CCE;
  border-radius: 4px;
  height: 4px;
}

input[type=range]::-moz-range-track {}

input[type=range]:focus {
  outline: none;
}

h1 {
  color: var(--Primary)
}

body {
  background-color: var(--Primary);
  font-family: 'Lato';
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}

.player {
  position: relative;
  -webkit-margin-before: 50px;
  margin-block-start: 50px;
}

.player video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
}

.player-title {
  position: absolute;
  color: var(--White);
  inset-block-start: 0;
  inset-inline-start: 20px;
  font-weight: 200;
  font-size: 1.2em;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player-progress {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  inset-block-end: 0;
  inset-inline: 0;
  padding: 14px 10px;
}

.player-progress input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  width: 100%;
}

.player-progress input::before {
  content: '';
  position: absolute;
  left: 0;
  height: 4px;
  width: var(--widthBar);
  border-radius: 4px;
  background-color: #237CCE;
}

.player-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.player:hover .player-overlay {
  opacity: 1;
}

.player-tooltip {
  position: absolute;
  top: 0px;
  left: 3.5%;
  min-width: 21px;
  height: 10px;
  border-radius: 4px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 10;
}

.player-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tooltipValue {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: -45px;
  left: -8px;
  height: 21px;
  min-width: 21px;
  padding: 4px 8px;
  background-color: #090B0B;
  color: #ffffff;
  font-size: 10px;
  border-radius: 4px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 360px) {
  .wrapper {
    inline-size: 328px;
  }
}